/*--------HEADER---------------*/
body {
  font-family: "Roboto", sans-serif;
}
#container {
  display: flex;
  flex-direction: column;
}

.logo img {
  width: 280px;
}
.logo {
  display: flex;
  justify-content: center;
  padding: 14px;
}

input {
  border: none;
  height: 28px;
  background-color: #eaeaea;
}

.barrederecherche {
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.barrederecherche i {
  width: 30px;
}
/*-------------Réservez----------------------*/
.presentation {
  background-color: #f6f6f6;
  height: 230px;
  padding-top: 51px;
}

.presentation h1 {
  font-size: 26px;
  text-align: center;
  margin-top: -21px;
}
h2 {
  font-size: 16px;
  text-align: center;
  font-weight: lighter;
  margin-bottom: 36px;
}
.bouton {
  text-decoration: none;
  background-image: linear-gradient(
    to right bottom,
    #ff79da,
    #e86edb,
    #cf64dc,
    #b35cdc,
    #9356dc
  );
  box-shadow: 0px 6px 15px 5px #cecece;
  color: white;
  padding: 14px;
  border-radius: 31px;
  border-radius: 31px;
}

.bouton1 {
  justify-content: center;
  display: flex;
}
/*-------------Fonctionnement--------*/
.fonctionnement {
  padding-top: 45px;
  display: grid;
  justify-content: center;
}

.bloc h3 {
  text-align: center;
}

.bloc i {
  margin-right: 10px;
}

.bloc {
  border-radius: 10px;
  padding: 22px;
  width: 300px;
  margin: 18px;
  background-color: #f6f6f6;
  box-shadow: -9px 6px 15px 5px #cecece;
  position: relative;
}

.bloc p {
  position: absolute;
  border-radius: 20px;
  padding: 10px;
  background-color: #9458dd;
  width: 10px;
  height: 10px;
  right: 328px;
  color: white;
}

/*-----Restaurant-----*/

#restaurant {
  display: grid;
  justify-content: center;
}

.restau img {
  width: 100%;
  object-fit: cover;
  height: 160px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.restau {
  width: 350px;
  box-shadow: 0px 12px 14px 0px #adadad;
  border-radius: 7px;
  margin-bottom: 40px;
  height: 236px;
  position: relative;
}

.restau figcaption {
  padding: 12px;
}
.titre {
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: bold;
}
figcaption p {
  margin-top: 0;
  font-weight: lighter;
}
.new {
  width: 73px;
  background-color: #99e2d0;
  color: #45ad93;
  padding: 7px;
  position: absolute;
  left: 254px;
  bottom: 177px;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
/*-----footer----*/
footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  display: flex;
  padding-bottom: 32px;
}

footer a {
  text-decoration: none;
  color: white;
  padding-top: 10px;
  padding-left: 30px;
}
footer i {
  padding-right: 7px;
}

footer img {
  width: 100px;
  padding-left: 30px;
  padding-top: 36px;
  padding-bottom: 17px;
}
/*----------------------------------*/
.heart {
  width: 100px;
  height: 66px;
  position: relative;
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png)
    no-repeat;
  cursor: pointer;
  animation: fave-heart 2s steps(28);

  left: 254px;
  bottom: 87px;
}

.heart:hover {
  background-position: -2800px 0;
  transition: background 3s steps(28);
}

.bloc:hover {
  background-color: #f6edff;
}
