/*-----Header-----*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

#fond {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

#logo {
  width: 250px;
}

.logo1 {
  justify-content: center;
  display: flex;
  padding: 20px;
}

.logo1 i {
  position: relative;
  right: 64px;
  top: 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemprix {
  display: flex;
  justify-content: flex-end;
  padding-left: 0.5rem;
  margin-top: -16px;
}

/*----------------*/
h1 {
  font-family: "Shrikhand", cursive;
  font-size: 40px;
}

header h1 {
  margin-bottom: 0px;
  margin-top: 0px;
}
/*---------Container------------*/
.container {
  border-radius: 64px;
  margin-top: -61px;
  position: relative;
  background-color: white;
  padding: 19px;
}
/**********************************/

.plat {
  border-radius: 15px;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1em;
  margin: 1rem 0;
}

h2 {
  font-weight: lighter;
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 0.5rem;
}

/***********effet en dessous du h2***********/
h2:after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: 0;
}

h3 {
  margin-bottom: 5px;
  margin-top: 5px;
}

.plat p {
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: lighter;
}

.prix {
  margin-top: -21px;
  float: right;
  font-weight: bold;
  font-size: 15px;
}

#plats {
  margin-top: 70px;
}

.desserts {
  margin-top: 70px;
}

.bouton {
  background-image: linear-gradient(
    to right bottom,
    #ff79da,
    #e86edb,
    #cf64dc,
    #b35cdc,
    #9356dc
  );
  color: white;
  padding: 20px;
  border-radius: 31px;
  border-radius: 31px;
  width: 150px;
}

.bouton1 {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.bouton1 a {
  text-align: center;
  text-decoration: none;
}

/*-----footer----*/
footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  display: flex;
  padding-bottom: 32px;
}

footer a {
  text-decoration: none;
  color: white;
  padding-top: 10px;
  padding-left: 30px;
}
footer i {
  padding-right: 7px;
}

footer img {
  width: 100px;
  padding-left: 30px;
  padding-top: 36px;
  padding-bottom: 17px;
}
/*----------------------------------*/
/*animation prix*/

/*********************************/
/*------coeur-----*/
.heart {
  width: 100px;
  height: 100px;
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png)
    no-repeat;
  cursor: pointer;
  animation: fave-heart 2s steps(28);
}

.heart:hover {
  background-position: -2800px 0;
  transition: background 3s steps(28);
}
/***************************************/
/*animation progressive*/
.entrees {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari et Chrome */
  -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.desserts {
  animation: fadein 6s;
  -moz-animation: fadein 6s; /* Firefox */
  -webkit-animation: fadein 6s; /* Safari et Chrome */
  -o-animation: fadein 6s; /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#plats {
  animation: fadein 4s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari et Chrome */
  -o-animation: fadein 4s; /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 1024px) {
  /* Styles pour cette Media Queries */
  h1 {
    font-size: 30px;
  }

  .soussection {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #fond {
    width: 100%;
    object-fit: cover;
    height: 300px;
  }

  .plat {
    margin-right: 40px;
    margin-bottom: 30px;
    width: 300px;
  }

  .entrees {
    margin-top: 0;
  }

  #plats {
    margin-top: 0;
  }
  .prix {
    font-size: 15px;
  }
  .desserts {
    margin-top: 0;
  }
  #mediaquery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  #fond {
    height: 400px;
  }

  footer {
    align-items: center;
  }
}
