/*-----Header-----*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin-right: 0px;
  margin-left: 0px;
}

#fond {
  width: 100%;
  object-fit: cover;
  height: 250px;
}

#logo {
  width: 250px;
}

.logo1 {
  justify-content: center;
  display: flex;
  padding: 20px;
}

.logo1 i {
  position: relative;
  right: 64px;
  top: 10px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*----------------*/
h1 {
  font-family: "Shrikhand", cursive;
  font-size: 36px;
  margin-left: 10px;
}

header h1 {
  margin-bottom: 0px;
  margin-top: 0px;
}

.container {
  border-radius: 64px;
  margin-top: -61px;
  position: relative;
  background-color: white;
  padding: 19px;
}
/*---------Body------------*/
.container {
  padding-left: 0px;
  padding-right: 0px;
}
.media {
  margin: 35px;
}
/*********************************/
.bouton {
  background-image: linear-gradient(
    to right bottom,
    #ff79da,
    #e86edb,
    #cf64dc,
    #b35cdc,
    #9356dc
  );
  color: white;
  padding: 20px;
  border-radius: 31px;
  border-radius: 31px;
  width: 150px;
}

.bouton1 {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.bouton1 a {
  text-align: center;
  text-decoration: none;
}

/*-----footer----*/
footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  display: flex;
  padding-bottom: 32px;
}

footer a {
  text-decoration: none;
  color: white;
  padding-top: 10px;
  padding-left: 30px;
}
footer i {
  padding-right: 7px;
}

footer img {
  width: 100px;
  padding-left: 30px;
  padding-top: 36px;
  padding-bottom: 17px;
}
/*----------------------------------*/
/*animation prix*/

.menu h2 {
  font-weight: 200;
}
.menu h2::after {
  display: block;
  content: "";
  height: 3px;
  width: 30px;
  background: #99e2d0;
}
.menu .menu-card {
  cursor: pointer;
  background-color: #fff;
  position: relative;
  border-radius: 12px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  display: flex;
}
.menu .menu-card:hover .check {
  width: 25%;
}
.menu .menu-card:hover .check > .fa-check-circle {
  opacity: 1;
  animation: rotation 2s linear;
}
.menu .choice {
  width: 100%;
  padding: 0 10px;
  display: grid;
  grid-template-rows: 20px;
  grid-template-columns: auto auto;
  grid-template-areas:
    "text1 ."
    "text2 price";
}
.menu .choice p {
  display: block;
}
.menu .choice p:nth-child(1) {
  grid-area: text1;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: -12px;
}
.menu .choice p:nth-child(2) {
  grid-area: text2;
  font-weight: 200;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 10px;
}
.menu .choice p:nth-child(3) {
  grid-area: price;
  display: flex;
  justify-content: flex-end;
}

.check {
  transition: width 0.5s linear;
  width: 0;
  right: 0;
  background-color: #99e2d0;
  color: white;
  border-radius: 0 12px 12px 0;
  cursor: pointer;
  justify-content: center;
  transform-origin: right center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@keyframes rotation {
  from {
    z-index: 1;
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    z-index: 1;
    transform: rotate(360deg);
  }
}
/*********************************/
/*------coeur-----*/
.heart {
  width: 100px;
  height: 100px;
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png)
    no-repeat;
  cursor: pointer;
  animation: fave-heart 2s steps(28);
}

.heart:hover {
  background-position: -2800px 0;
  transition: background 3s steps(28);
}
/***************************************/
/*animation progressive*/
.menu {
  animation: fadein 6s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari et Chrome */
  -o-animation: fadein 4s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 1024px) {
  /* Styles pour cette Media Queries */

  #fond {
    width: 100%;
    object-fit: cover;
    height: 300px;
  }

  footer {
    align-items: center;
  }

  .media {
    display: flex;
    flex-wrap: wrap;
  }

  .menu .choice {
    width: 350px;
  }

  .media {
    justify-content: center;
  }

  .menu {
    margin-left: 25px;
  }
}
